DB_PASSWORD=changeme
DB_HOST=localhost

REDIS_PASSWORD=redispass
REDIS_HOST=localhost

APP_ENV=development

CONFIG_PATH=configs/application.yaml
MIGRATIONS_PATH=migrations

DATABASE_URL=postgres://postgres:changeme@localhost:5432/property_marketplace?sslmode=disable
